bin/
obj/
Cache/*
Errors/*
Logs/*
*.vsp
*.csproj.user
StackOverflow.suo
TestResults/*
sql/*
master*.min.js
prettify-full.js
full.js
wmd.js
question.a.js
*.schemaview
*.psess
*.DS_Store
StackOverflow.Database/StackOverflow.Database.dbmdl
StackOverflow.Database/StackOverflow.Database.dbproj.user
*.ReSharper.user
_ReSharper.StackOverflow/*
relre:bundle.sql
*.suo
.vs
StackOverflow.Migrations/migrator.conf
Utilities/SyncPrivilegeWikis/run.bat
*.vs10x
*.docstates
_ReSharper*
SimpleErrorHandler/CodePlex.Elmah.xml
StackOverflow/Controllers/DebugController.Itsme.cs
Utilities/ExportDataSE/packages/*
*.ReSharper
*.DotSettings.user
*.orig
Stack*/ViewsCompiled/*
*.sln.ide/*
StackOverflow/LocalizationArtifacts/translations.json.gz
StackOverflow/LocalizationArtifacts/translations.json
*.ncrunchproject
*.ncrunchsolution
*.user
_NCrunch*
*.DotSettings
StackOverflow VS2012.sln.GhostDoc.xml
StackOverflow/MoonSpeak.bail
StackOverflow/App_Data/MoonSpeak.bail
StackOverflow/App_Data/MoonSpeakCache.txt
StackAuth/App_Data/MoonSpeakCache.txt
StackOverflow.Api.V2/App_Data/MoonSpeakCache.txt
StackOverflow.Mobile/App_Data/MoonSpeakCache.txt
StackOverflow.Api/App_Data/MoonSpeakCache.txt
Redis/*.rdb
Redis/*.dat
StackOverflow/App_Data/TranslationDump/*
StackOverflow/Content/Skins/*/*.css
dump.rdb
*.css.map
redis*.dat
StackOverflow/Cache/*
StackExchange.Website/Cache/*
*.dev-cache
MoonSpeakCache.txt
MoonSpeak.Strings.json
*.deleteme
*.bail
Thumbs.db

# Document Favorites extension https://visualstudiogallery.msdn.microsoft.com/d4ab8421-147f-4416-8038-d5f7fdcf6a56?SRC=Featured
*.favdoc
Build/node_modules/*/test/*
Build/node_modules/*/tests/*