@{
    ViewData["Title"] = "Admin Index";
}

<a href="/admin/errors">Error Log</a><br />
<br />
<a href="/admin/key-gen">Generate a new key entry</a><br />
<br />
<a href="/admin/ip-bans">IP Bans</a><br />
<br />
<a href="" onclick="window.location=('/admin/find-user?email='+prompt('user email')); return false;">Find User</a>