@using OpenIdProvider

@{
    ViewData["Title"] = "Change Password";
}

@ViewData.HandleErrorMessage()

<div class="explanation">
    <p>
        Enter a new password twice to change it.
    </p>
</div>

<div class="reset-form">
    <form method="post" action="/account/password-reset/submit">
        <table class="position-table">
            <tr>
                <td>
                    New Password
                </td>
                <td>
                    <input name="password" type="password" />
                </td>
            </tr>
            <tr>
                <td>
                    Again:
                </td>
                <td>
                    <input name="password2" type="password" />
                </td>
            </tr>
        </table>
        <input type="hidden" name="token" value="@ViewData["token"]" />
        <input type="hidden" name="fkey" value="@Current.XSRFToken.Value" />
        <input type="submit" class="orange"  value="Change Password" />
    </form>
</div>