@using OpenIdProvider

@{
    ViewData["Title"] = "Change Password";
}

@ViewData.HandleErrorMessage()

<div class="explanation">
    <p>
        Enter a new password twice to change it.
    </p>
</div>

<div class="reset-form">
    <form method="post" action="/account/password-reset/submit">
        <table class="position-table">
            <tr>
                <td>
                    <label for="password">New Password</label>
                </td>
                <td>
                    <input name="password" id="password" type="password" />
                    <span class="form-help">Password</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password2">Again</label>
                </td>
                <td>
                    <input name="password2" id="password2" type="password" />
                    <span class="form-help">Password</span>
                </td>
            </tr>
        </table>
        <input type="hidden" name="token" value="@ViewData["token"]" />
        <input type="hidden" name="fkey" value="@Current.XSRFToken.Value" />
        <input type="submit" class="orange"  value="Change Password" />
    </form>
</div>