@using OpenIdProvider
@model System.String

@{
    ViewData["Title"] = Model + " wants you to log in";
}

<p>Do you wish to share your information with @Model?</p>

<form method="post" action="/account/prompt/submit">
<input type="hidden" name="session" value="@ViewData["session"]" />
<input type="hidden" name="fkey" value="@Current.XSRFToken" />
<input type="submit" class="orange" value="Confirm" />
</form>

