@using OpenIdProvider

@{
    ViewData["Title"] = "Account Recovery";
}

@ViewData.HandleErrorMessage()

<div>
    <p>
        Forgotten your account's password?  Enter your email address and we'll send you a recovery link.
    </p>
</div>

<div class="recovery-form">
    <form method="post" action="/account/recovery/submit" autocomplete="off">
        <table class="position-table">
            <tr>
                <td>
                    <label for="email">Email</label>
                </td>
                <td class="input-td">
                    <input type="text" name="email" id="email" />
                    <span class="form-help">@("name@example.com")</span>
                </td>
            </tr>
        </table>
        <input type="hidden" name="fkey" value="@Current.XSRFToken.Value" />
        <input type="submit" class="orange" value="Send Recovery Email" />
    </form>
</div>