@using OpenIdProvider

@{
    ViewData["Title"] = "";
    ViewData["PageTitle"] = Current.SiteName;
}

<div class="explanation">
    @Html.Raw(OpenIdProvider.Helpers.Template.FormatTemplate("Home"))
</div>