@using OpenIdProvider

@{
    ViewData["Title"] = Current.SiteName;
}

<div class="explanation">
    <p>
        This is an <a href="http://en.wikipedia.org/wiki/OpenID">OpenID provider</a>.
        <br />
        <br />
        <b><font color="red">Under testing, do not depend upon.</font></b>
    </p>
</div>