@using OpenIdProvider

@{
    ViewData["Title"] = Current.SiteName;
}

<div class="explanation">
    <p>
        This is an <a href="http://en.wikipedia.org/wiki/OpenId">OpenId provider</a>.
        <br />
        <br />
        <b><font color="red">Code review pending, do not use.</font></b>
    </p>
</div>