@using OpenIdProvider

@{
    ViewData["Title"] = ViewData["title"];
}

<div class="error">
    <p>@ViewData["message"]</p>
</div>

<div class="explanation">
    <p>If you believe you encountered this message in error, <a href="http://meta.stackoverflow.com/questions/ask?tags=stackexchange-openid">please report it</a>.</p>
</div>