@using OpenIdProvider

@{
    ViewData["Title"] = ViewData["title"];
}

<div class="error">
    <p>@ViewData["message"]</p>
</div>

@* TODO: Update this to tell people how to actually report these errors! *@
<div class="explanation">
    <p>If you believe you encountered this message in error, please report it.</p>
</div>