@using OpenIdProvider

@{
    ViewData["Title"] = "A problem occurred with this request";
}

<div class="explanation">
    Most of the time these errors are caused by a third-party between us and you.<br>
    <a href="/proxy-help" target="_top">Click here for possible workarounds.</a>
</div>

<!--
    @(@ViewData["title"] +" - " +@ViewData["message"])
-->